@font-face {
  font-family: "BIG JOHN";
  src: url("../fonts/BIG JOHN.otf") /* format("otf")*/;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
}
.tittle-text {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333B46;
  letter-spacing: 2px;
}
.common-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #333B46;
}
.tittle-text-white {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
.common-text-white {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 100;
}
