.this-is-bouncy {
  padding: 60px 20%;
  display: flex;
  justify-content: space-between;
}
.this-is-bouncy .description {
  max-width: 465px;
  margin-right: 50px;
}
.this-is-bouncy .image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 890px) {
  .this-is-bouncy .image {
    display: none;
  }
  .this-is-bouncy .description {
    max-width: 600px;
    margin-right: 0;
    width: 80%;
  }
  .description .text{
    text-align: justify;
  }
  .this-is-bouncy {
  justify-content: left;
  }
}
.description {
  padding-top: 25px;
}
.description .tittle {
  margin-bottom: 35px;
}
.description .text {
  line-height: 30px;
  margin-bottom: 45px;
  font-size: 16px;
}
.description .more {
  display: block;
  width: 140px;
  height: 35px;
  border: solid 1px black;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #333B46;
  text-decoration: none;
  user-select: none;

}
.description .more:hover {
  background-color: rgba( 0, 0, 0, 0.1);
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.description .more:focus-visible {
  background-color: #B3DAE0;
  transition-duration: 0s;
}
.description .more:active {
  background-color: rgba( 0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 0s;
}
